body{
    padding: 0;
background-color:black;
    margin: 0;
}


h1{
    font-size: 350px;
}
.center{
   margin:20%;
   padding-top: 15%; 
}

span{
    margin-top: 2%;
    margin-left: 40%;
    margin-bottom: 2%;
   
}



